#section2 img{
    max-width: 100%; 
}

#section1 img {
    max-width: 100%; 
}

img {
    margin: 20px auto;
    max-width: 100%; 
    height: auto; 
}

#navbar {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}


#navbar ul li {
    display: inline;
    padding: 10px;
}

#navbar ul li a {
    color: #182b49;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;  
}

#navbar ul li a:hover {
    background-color: #182B49; 
    color: #FFFFFF;  
}

#section1, #section2, #section3 {
    padding: 20px;
    scroll-margin-top: 50px; 
    font-size: 28px; 
}

.section1-bg {
    background-color: #F5F0E6; 
}

.section2-bg {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
    background-size: cover;
    max-width: 100%;
    background-position: center;
    color: #FFFFFF; 
}

div {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-auto-flow: column; 
    height: 400px;
    align-content: center;
    align-content: space-evenly;
    column-gap: 40px;
 }
 

.grid-item1{
    overflow: hidden;
    background-color: #182B49;
    color: white;
    padding: 20px;

    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%; 
}

.grid-item2{
    overflow: hidden;
    background-color: #182B49;
    color: white;
    padding: 20px;

    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%; 
}

.grid-item3{
    overflow: hidden;
    background-color: #182B49;
    color: white;
    padding: 20px;

    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%; 
}

.grid-item4{
    overflow: hidden;
    background-color: #182B49;
    color: white;
    padding: 20px;

    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%; 
}


p {
    margin: 0;
    white-space: pre-wrap;
}



@media screen and (max-width: 800px) {
    #navbar ul {
        display: none;
    }

    /* Change the grid to 2 columns on smaller screens */
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-flow: column;
        column-count: 2;   
        height: 400px;
        align-content: center;
        align-content: space-evenly;
        column-gap: 40px;
        row-gap: 40px;
    }

    .grid-item1{
        overflow: hidden;
        background-color: #182B49;
        color: white;
        padding: 20px;
    
        overflow-y: scroll;
        width: 100%; 
        column-gap: 40px;
        row-gap: 40px;
    }
    
    .grid-item2{
        overflow: hidden;
        grid-row: 1;
        background-color: #182B49;
        color: white;
        padding: 20px;
    
        overflow-y: scroll;

        width: 100%; 
        column-gap: 40px;
        row-gap: 40px;
    }
    
    .grid-item3{
        overflow: hidden;
        grid-column: 1;
        grid-row: 2;
        background-color: #182B49;
        color: white;
        padding: 20px;
    
        overflow-y: scroll;
        width: 100%; 
        column-gap: 40px;
        row-gap: 40px;
    }
    
    .grid-item4{
        overflow: hidden;
        grid-column: 2;
        grid-row: 2;
        background-color: #182B49;
        color: white;
        padding: 20px;
    
        overflow-y: scroll;
        width: 100%; 
        column-gap: 40px;
        row-gap: 40px;
    }

    /* Reduce padding in sections for smaller screens */
    .section1-bg, .section2-bg {
        padding: 20px;
    }

    img {
        max-width: 75%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }
}